<table id="initDatatable" class="table table-striped orders-responsive-table text-center">
    <thead>
    <tr>
        <th>מס' הזמנה</th>
        <th class="expandable_sm">תאריך</th>
        <th class="expandable_sm">מס' הזמנת רכש</th>
        <th class="expandable_sm">שם המזמין</th>
        <th>שם הספק</th>
        <th class="expandable_sm expandable_lg">הצעת המחיר</th>
        <th>מועד אספקה</th>
        <th class="expandable_sm expandable_lg">סכום לא כולל עמלה</th>
        <th class="expandable_sm expandable_lg">עמלה</th>
        <th>סטטוס</th>
        <th class="d-none">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
        {% if(orders) %}
        {% for val in orders %}
            <tr>
                <td data-title="מס' הזמנה">{{ val['Customer_Oreder_number'] }}</td>
                <td class="expandable_sm" data-title="תאריך">{{ val['fullFilmentDate'] }}</td>
                <td class="expandable_sm" data-title="מס' הזמנת רכש"><a href="#">{{ val['Customer_Oreder_number'] }}</a></td>
                <td class="expandable_sm" data-title="שם המזמין">{{ customerDetail['customerData']['name'] }}</td>
                <td data-title="שם הספק">{{ val['merchant_name'] }}</td>
                <td class="expandable_sm expandable_lg" data-title="הצעת המחיר"><a href="{{ val['priceOfferFile'] }}" target="_blank">לחץ לצפייה</a></td>
                <td data-title="מועד אספקה">{{ val['fullFilmentDate'] }}</td>
                <td class="expandable_sm expandable_lg" data-title="סכום לא כולל עמלה">₪{{ val['amount'] }}</td>
                <td class="expandable_sm expandable_lg" data-title="עמלה">₪{{ val['fee'] }}</td>
                <td data-title="סטטוס"><strong class="note_text awaiting">ממתין לאישור ספק</strong></td>
                <td class="d-xl-none link_wrap">
                    <a href="#" class="data_exap_link">
                        <span class="open_text">לפרטים נוספים</span>
                        <span class="close_text">סגירה</span>
                        <i class="icon-arrow-down"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>